@font-face {
  font-family: 'aeonik-thin';
  font-style: normal;
  src: url('../assets/fonts/aeonik-thin.otf') format('opentype');
}

@font-face {
  font-family: 'aeonik-light';
  font-style: normal;
  src: url('../assets/fonts/aeonik-light.otf') format('opentype');
}

@font-face {
  font-family: 'aeonik-regular';
  font-style: normal;
  src: url('../assets/fonts/aeonik-regular.otf') format('opentype');
}

@font-face {
  font-family: 'aeonik-medium';
  font-style: normal;
  src: url('../assets/fonts/aeonik-medium.otf') format('opentype');
}

@font-face {
  font-family: 'aeonik-bold';
  font-style: normal;
  src: url('../assets/fonts/aeonik-bold.otf') format('opentype');
}

@font-face {
  font-family: 'aeonik-heavy';
  font-style: normal;
  src: url('../assets/fonts/aeonik-black.otf') format('opentype');
}
